.burger-menu {
	@include pos($t: 0, $l: 0);
	display: none;
	width: 211px;
	background-color: #0F1D2F;
	padding: 117px 0 64px;
	padding-left: 15px;
	z-index: 2;

	&__items {
		height: 181px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin-bottom: 75px;
	}

	&__link {
		color: #A2B9E5;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 0.02em;

		&:hover {
			color: #dbe8ff;
		}
	}

	&__phones {
		margin-bottom: 28px;
		height: 95px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	&__phone {
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 0.03em;
	}

	&__share {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 140px;
	}

	&__share-link {
		font-size: 30px;
		color: #A2B9E5;

		&:hover {
			color: #DBE8FF;
		}
	}
}
